WIS/Insite.WIS.Epicor/Service References/Epicor10ShipToService/ShipTo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Erp:BO:ShipTo" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Erp:BO:ShipTo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Erp:BO:ShipTo/Imports">
      <xsd:import schemaLocation="http://vst-epicor10/ERP100500/Erp/BO/ShipTo.svc?xsd=xsd0" namespace="Erp:BO:ShipTo" />
      <xsd:import schemaLocation="http://vst-epicor10/ERP100500/Erp/BO/ShipTo.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Ice.Common" />
      <xsd:import schemaLocation="http://vst-epicor10/ERP100500/Erp/BO/ShipTo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://vst-epicor10/ERP100500/Erp/BO/ShipTo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Erp.Tablesets" />
      <xsd:import schemaLocation="http://vst-epicor10/ERP100500/Erp/BO/ShipTo.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ice" />
      <xsd:import schemaLocation="http://vst-epicor10/ERP100500/Erp/BO/ShipTo.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Epicor.Data" />
      <xsd:import schemaLocation="http://vst-epicor10/ERP100500/Erp/BO/ShipTo.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ShipToSvcContract_GetNewShipTo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewShipTo" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_GetNewShipTo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewShipToResponse" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_GetNewShipTo_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q1:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_GetNewShipToAttch_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewShipToAttch" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_GetNewShipToAttch_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewShipToAttchResponse" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_GetNewShipToAttch_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q2:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_GetNewShipToLabExpRate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewShipToLabExpRate" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_GetNewShipToLabExpRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewShipToLabExpRateResponse" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_GetNewShipToLabExpRate_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q3:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_DeleteByID_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByID" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_DeleteByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_DeleteByID_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q4:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_GetByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByID" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_GetByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_GetByID_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q5:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_GetList_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q6:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_GetRows_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRows" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_GetRows_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRowsResponse" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_GetRows_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q7:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_GetBySysRowID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBySysRowID" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_GetBySysRowID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBySysRowIDResponse" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_GetBySysRowID_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q8:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_GetBySysRowIDs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBySysRowIDs" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_GetBySysRowIDs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBySysRowIDsResponse" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_GetBySysRowIDs_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q9:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_Update_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q10:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_UpdateExt_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExt" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_UpdateExt_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExtResponse" />
  </wsdl:message>
  <wsdl:message name="ShipToSvcContract_UpdateExt_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q11:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:portType name="ShipToSvcContract">
    <wsdl:operation name="GetNewShipTo">
      <wsdl:input wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/GetNewShipTo" message="tns:ShipToSvcContract_GetNewShipTo_InputMessage" />
      <wsdl:output wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/GetNewShipToResponse" message="tns:ShipToSvcContract_GetNewShipTo_OutputMessage" />
      <wsdl:fault wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/GetNewShipToEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:ShipToSvcContract_GetNewShipTo_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewShipToAttch">
      <wsdl:input wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/GetNewShipToAttch" message="tns:ShipToSvcContract_GetNewShipToAttch_InputMessage" />
      <wsdl:output wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/GetNewShipToAttchResponse" message="tns:ShipToSvcContract_GetNewShipToAttch_OutputMessage" />
      <wsdl:fault wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/GetNewShipToAttchEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:ShipToSvcContract_GetNewShipToAttch_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewShipToLabExpRate">
      <wsdl:input wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/GetNewShipToLabExpRate" message="tns:ShipToSvcContract_GetNewShipToLabExpRate_InputMessage" />
      <wsdl:output wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/GetNewShipToLabExpRateResponse" message="tns:ShipToSvcContract_GetNewShipToLabExpRate_OutputMessage" />
      <wsdl:fault wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/GetNewShipToLabExpRateEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:ShipToSvcContract_GetNewShipToLabExpRate_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByID">
      <wsdl:input wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/DeleteByID" message="tns:ShipToSvcContract_DeleteByID_InputMessage" />
      <wsdl:output wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/DeleteByIDResponse" message="tns:ShipToSvcContract_DeleteByID_OutputMessage" />
      <wsdl:fault wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/DeleteByIDEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:ShipToSvcContract_DeleteByID_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByID">
      <wsdl:input wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/GetByID" message="tns:ShipToSvcContract_GetByID_InputMessage" />
      <wsdl:output wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/GetByIDResponse" message="tns:ShipToSvcContract_GetByID_OutputMessage" />
      <wsdl:fault wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/GetByIDEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:ShipToSvcContract_GetByID_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/GetList" message="tns:ShipToSvcContract_GetList_InputMessage" />
      <wsdl:output wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/GetListResponse" message="tns:ShipToSvcContract_GetList_OutputMessage" />
      <wsdl:fault wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/GetListEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:ShipToSvcContract_GetList_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRows">
      <wsdl:input wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/GetRows" message="tns:ShipToSvcContract_GetRows_InputMessage" />
      <wsdl:output wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/GetRowsResponse" message="tns:ShipToSvcContract_GetRows_OutputMessage" />
      <wsdl:fault wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/GetRowsEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:ShipToSvcContract_GetRows_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBySysRowID">
      <wsdl:input wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/GetBySysRowID" message="tns:ShipToSvcContract_GetBySysRowID_InputMessage" />
      <wsdl:output wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/GetBySysRowIDResponse" message="tns:ShipToSvcContract_GetBySysRowID_OutputMessage" />
      <wsdl:fault wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/GetBySysRowIDEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:ShipToSvcContract_GetBySysRowID_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBySysRowIDs">
      <wsdl:input wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/GetBySysRowIDs" message="tns:ShipToSvcContract_GetBySysRowIDs_InputMessage" />
      <wsdl:output wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/GetBySysRowIDsResponse" message="tns:ShipToSvcContract_GetBySysRowIDs_OutputMessage" />
      <wsdl:fault wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/GetBySysRowIDsEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:ShipToSvcContract_GetBySysRowIDs_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/Update" message="tns:ShipToSvcContract_Update_InputMessage" />
      <wsdl:output wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/UpdateResponse" message="tns:ShipToSvcContract_Update_OutputMessage" />
      <wsdl:fault wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/UpdateEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:ShipToSvcContract_Update_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExt">
      <wsdl:input wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/UpdateExt" message="tns:ShipToSvcContract_UpdateExt_InputMessage" />
      <wsdl:output wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/UpdateExtResponse" message="tns:ShipToSvcContract_UpdateExt_OutputMessage" />
      <wsdl:fault wsaw:Action="Erp:BO:ShipTo/ShipToSvcContract/UpdateExtEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:ShipToSvcContract_UpdateExt_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>