WIS/Insite.WIS.Epicor/Service References/Epicor10CashGrpService/CashGrp2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Erp.Tablesets" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Erp.Tablesets" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vst-epicor10/ERP100500/Erp/BO/CashGrp.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ice" />
  <xs:complexType name="CashGrpTableset">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Ice" base="q1:IceTableset">
        <xs:sequence>
          <xs:element minOccurs="0" name="CashGrp" nillable="true" type="tns:CashGrpTable" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CashGrpTableset" nillable="true" type="tns:CashGrpTableset" />
  <xs:complexType name="CashGrpTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CashGrpRow" nillable="true" type="tns:CashGrpRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CashGrpTable" nillable="true" type="tns:CashGrpTable" />
  <xs:complexType name="CashGrpRow">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Ice" base="q2:IceRow">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActiveUserID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AutoGen" type="xs:boolean" />
          <xs:element minOccurs="0" name="AutoGenerated" type="xs:boolean" />
          <xs:element minOccurs="0" name="BankAcctID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BankAcctIDBankName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BankAcctIDDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BankCurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BankCurrencyCodeCurrDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BankCurrencyCodeCurrName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BankCurrencyCodeCurrSymbol" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BankCurrencyCodeCurrencyID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BankCurrencyCodeDocumentDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BitFlag" type="xs:int" />
          <xs:element minOccurs="0" name="Cashbook" type="xs:boolean" />
          <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrSymbol" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DebNoteOnly" type="xs:boolean" />
          <xs:element minOccurs="0" name="EIPaymSent" type="xs:boolean" />
          <xs:element minOccurs="0" name="FiscalCalendarID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FiscalPeriod" type="xs:int" />
          <xs:element minOccurs="0" name="FiscalYear" type="xs:int" />
          <xs:element minOccurs="0" name="FiscalYearSuffix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PIStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PIStatusGrp" type="xs:boolean" />
          <xs:element minOccurs="0" name="PIStatusStatusDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PIType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PMName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PMSummarizePerCustomer" type="xs:boolean" />
          <xs:element minOccurs="0" name="PMType" type="xs:int" />
          <xs:element minOccurs="0" name="PMUID" type="xs:int" />
          <xs:element minOccurs="0" name="PostErrorLog" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostToGL" type="xs:boolean" />
          <xs:element minOccurs="0" name="PromissoryNote" type="xs:boolean" />
          <xs:element minOccurs="0" name="SysRevID" type="xs:long" />
          <xs:element minOccurs="0" name="TotalARAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalApplied" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalBankFee" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalCashReceived" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalDeposit" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalDiscount" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalMisc" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalWithhold" type="xs:decimal" />
          <xs:element minOccurs="0" name="TranDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UnappliedBalance" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CashGrpRow" nillable="true" type="tns:CashGrpRow" />
  <xs:complexType name="CashGrpListTableset">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Ice" base="q3:IceTableset">
        <xs:sequence>
          <xs:element minOccurs="0" name="CashGrpList" nillable="true" type="tns:CashGrpListTable" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CashGrpListTableset" nillable="true" type="tns:CashGrpListTableset" />
  <xs:complexType name="CashGrpListTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CashGrpListRow" nillable="true" type="tns:CashGrpListRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CashGrpListTable" nillable="true" type="tns:CashGrpListTable" />
  <xs:complexType name="CashGrpListRow">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Ice" base="q4:IceRow">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActiveUserID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BankAcctID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BankAcctIDBankName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BankAcctIDDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BankCurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BankCurrencyCodeCurrDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BankCurrencyCodeCurrName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BankCurrencyCodeCurrSymbol" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BankCurrencyCodeCurrencyID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BankCurrencyCodeDocumentDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Cashbook" type="xs:boolean" />
          <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrSymbol" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DebNoteOnly" type="xs:boolean" />
          <xs:element minOccurs="0" name="EIPaymSent" type="xs:boolean" />
          <xs:element minOccurs="0" name="FiscalCalendarID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FiscalPeriod" type="xs:int" />
          <xs:element minOccurs="0" name="FiscalYear" type="xs:int" />
          <xs:element minOccurs="0" name="FiscalYearSuffix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PIStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PIStatusGrp" type="xs:boolean" />
          <xs:element minOccurs="0" name="PIStatusStatusDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PIType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PMName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PMSummarizePerCustomer" type="xs:boolean" />
          <xs:element minOccurs="0" name="PMType" type="xs:int" />
          <xs:element minOccurs="0" name="PMUID" type="xs:int" />
          <xs:element minOccurs="0" name="PostErrorLog" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostToGL" type="xs:boolean" />
          <xs:element minOccurs="0" name="PromissoryNote" type="xs:boolean" />
          <xs:element minOccurs="0" name="SysRevID" type="xs:long" />
          <xs:element minOccurs="0" name="TotalARAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalApplied" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalCashReceived" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalDeposit" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalDiscount" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalMisc" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalWithhold" type="xs:decimal" />
          <xs:element minOccurs="0" name="TranDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UnappliedBalance" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CashGrpListRow" nillable="true" type="tns:CashGrpListRow" />
  <xs:complexType name="UpdExtCashGrpTableset">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Ice" base="q5:IceTableset">
        <xs:sequence>
          <xs:element minOccurs="0" name="CashGrp" nillable="true" type="tns:CashGrpTable" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdExtCashGrpTableset" nillable="true" type="tns:UpdExtCashGrpTableset" />
</xs:schema>